<article class="tip">
  <h1>{{ tip.title }}</h1>
  <address>Posted by {{tip.poster.name}}</address>
  <p>{{ tip.body }}</p>

  {{#if tip.tags.length}}
    <h3>Tags</h3>
    <ul>
      {{#each tip.tags}}
        <li><a href="/tip/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  <a href="/tips">Back to All Tips</a>
</article>
